$wrapper: 65rem !default;

$gutter: 1.2rem !default;
$gutter_quarter: $gutter / 4;
$gutter_half: $gutter / 2;
$gutter_and_half: $gutter + $gutter_half;
$gutter_double: $gutter * 2;
$gutter_triple: $gutter * 3;

$font_size: 1rem !default;
$font_line_height: 130% !default;
$font_family: 'Open Sans', sans-serif !default;

$color_white: white !default;
$color_black: black !default;
$color_gray: #CCC !default;
$color_dark: #AAA !default;

$text_color: lighten(black, 20%) !default;
$text_light_color: lighten(black, 60%) !default;

$error_color: #b52424;

$zindex_ultimate: 999;
$zindex_popup: 100;

$media_queue_device: "only screen and (max-width: 1024px)" !default;
$media_queue_tablet: "only screen and (min-width: 481px) and (max-width : 1024px)" !default;
$media_queue_phone: "only screen and (max-width : 480px)" !default;

$color_google_red: #D34836;
$color_facebook_blue: #3050A5;
$color_twitter_blue: #3AC9FF;
$color_linked_in_blue: #007AB9;
$color_github_black: #171515;
