body {
  margin: 0;
  padding: 0;
  font: normal 1rem/130% "Open Sans", sans-serif;
  cursor: default;
  min-height: 100vh;
  background-color: white; }

.wrapper {
  width: 60rem;
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }
  .wrapper.with-gutter {
    padding-left: 1rem;
    padding-right: 1rem; }

.layout {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .layout .column-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-basis: 8.333%;
    flex-basis: 8.333%; }
  .layout .column-2 {
    -webkit-flex-basis: 16.666%;
    -ms-flex-basis: 16.666%;
    flex-basis: 16.666%; }
  .layout .column-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%; }
  .layout .column-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-basis: 33.333%;
    flex-basis: 33.333%; }
  .layout .column-5 {
    -webkit-flex-basis: 41.666%;
    -ms-flex-basis: 41.666%;
    flex-basis: 41.666%; }
  .layout .column-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%; }
  .layout .column-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-basis: 58.333%;
    flex-basis: 58.333%; }
  .layout .column-8 {
    -webkit-flex-basis: 66.666%;
    -ms-flex-basis: 66.666%;
    flex-basis: 66.666%; }
  .layout .column-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%; }
  .layout .column-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-basis: 83.333%;
    flex-basis: 83.333%; }
  .layout .column-11 {
    -webkit-flex-basis: 91.666%;
    -ms-flex-basis: 91.666%;
    flex-basis: 91.666%; }
  .layout .column-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%; }
  .layout.with-gutter .column {
    padding-left: 1rem;
    padding-right: 1rem; }
  .layout.with-double-gutter .column {
    padding-left: 2rem;
    padding-right: 2rem; }
  .layout.with-half-gutter .column {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .layout.inline {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex; }
  .layout.vertical {
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }

.wrapper > .layout .column {
  padding-left: 1rem;
  padding-right: 1rem; }

.content-start {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start; }

.content-end {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end; }

.content-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.content-space-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between; }

.content-space-around {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around; }

.items-start {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.items-end {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end; }

.items-center {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.items-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch; }

.order-1 {
  -webkit-flex-order: 1;
  -ms-flex-order: 1;
  flex-order: 1; }
.order-2 {
  -webkit-flex-order: 2;
  -ms-flex-order: 2;
  flex-order: 2; }
.order-3 {
  -webkit-flex-order: 3;
  -ms-flex-order: 3;
  flex-order: 3; }
.order-4 {
  -webkit-flex-order: 4;
  -ms-flex-order: 4;
  flex-order: 4; }
.order-5 {
  -webkit-flex-order: 5;
  -ms-flex-order: 5;
  flex-order: 5; }
.order-6 {
  -webkit-flex-order: 6;
  -ms-flex-order: 6;
  flex-order: 6; }
.order-7 {
  -webkit-flex-order: 7;
  -ms-flex-order: 7;
  flex-order: 7; }
.order-8 {
  -webkit-flex-order: 8;
  -ms-flex-order: 8;
  flex-order: 8; }
.order-9 {
  -webkit-flex-order: 9;
  -ms-flex-order: 9;
  flex-order: 9; }
.order-10 {
  -webkit-flex-order: 10;
  -ms-flex-order: 10;
  flex-order: 10; }
.order-11 {
  -webkit-flex-order: 11;
  -ms-flex-order: 11;
  flex-order: 11; }
.order-12 {
  -webkit-flex-order: 12;
  -ms-flex-order: 12;
  flex-order: 12; }

button,
.button {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ccc;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  button.small,
  .button.small {
    padding: 0.75rem 2rem; }
  button.tiny,
  .button.tiny {
    padding: 0.5rem 1rem; }
  button .icon,
  button .icon-left,
  button .icon-right,
  .button .icon,
  .button .icon-left,
  .button .icon-right {
    font-size: 1.3em;
    vertical-align: middle;
    display: inline-block; }
  button .icon-left,
  button .icon-right,
  .button .icon-left,
  .button .icon-right {
    -webkit-transform: translate(0, -7%);
    -ms-transform: translate(0, -7%);
    transform: translate(0, -7%); }
  button .icon-left,
  .button .icon-left {
    margin-right: .25rem; }
  button .icon-right,
  .button .icon-right {
    margin-left: .25rem; }

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0; }

img {
  vertical-align: middle; }

a {
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h5:first-child,
ul:first-child,
ol:first-child,
p:first-child {
  margin-top: 0; }
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h5:last-child,
ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0; }

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  font-size: 1rem;
  padding: .5rem;
  border: 1px #ccc solid;
  display: block;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox],
input[type=radio] {
  padding: 0;
  display: inline-block;
  margin: 0;
  width: auto; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

label {
  display: block;
  font-size: .9rem;
  margin-bottom: .1rem; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.larger {
  font-size: 1.2em;
  line-height: 130%; }

.smaller {
  font-size: .85em;
  line-height: 130%; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    margin-bottom: 0.5rem;
    display: inline-block; }

/* media query
********************************************************************************************************/
@media screen and (max-width: 60rem) {
  .wrapper {
    width: auto; }

  .small-flex-1 {
    -webkit-flex-basis: 8.333%;
    -ms-flex-basis: 8.333%;
    flex-basis: 8.333%; }
  .small-flex-2 {
    -webkit-flex-basis: 16.666%;
    -ms-flex-basis: 16.666%;
    flex-basis: 16.666%; }
  .small-flex-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-basis: 25%;
    flex-basis: 25%; }
  .small-flex-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-basis: 33.333%;
    flex-basis: 33.333%; }
  .small-flex-5 {
    -webkit-flex-basis: 41.666%;
    -ms-flex-basis: 41.666%;
    flex-basis: 41.666%; }
  .small-flex-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%; }
  .small-flex-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-basis: 58.333%;
    flex-basis: 58.333%; }
  .small-flex-8 {
    -webkit-flex-basis: 66.666%;
    -ms-flex-basis: 66.666%;
    flex-basis: 66.666%; }
  .small-flex-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-basis: 75%;
    flex-basis: 75%; }
  .small-flex-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-basis: 83.333%;
    flex-basis: 83.333%; }
  .small-flex-11 {
    -webkit-flex-basis: 91.666%;
    -ms-flex-basis: 91.666%;
    flex-basis: 91.666%; }
  .small-flex-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%; }
  .small-order-1 {
    -webkit-flex-order: 1;
    -ms-flex-order: 1;
    flex-order: 1; }
  .small-order-2 {
    -webkit-flex-order: 2;
    -ms-flex-order: 2;
    flex-order: 2; }
  .small-order-3 {
    -webkit-flex-order: 3;
    -ms-flex-order: 3;
    flex-order: 3; }
  .small-order-4 {
    -webkit-flex-order: 4;
    -ms-flex-order: 4;
    flex-order: 4; }
  .small-order-5 {
    -webkit-flex-order: 5;
    -ms-flex-order: 5;
    flex-order: 5; }
  .small-order-6 {
    -webkit-flex-order: 6;
    -ms-flex-order: 6;
    flex-order: 6; }
  .small-order-7 {
    -webkit-flex-order: 7;
    -ms-flex-order: 7;
    flex-order: 7; }
  .small-order-8 {
    -webkit-flex-order: 8;
    -ms-flex-order: 8;
    flex-order: 8; }
  .small-order-9 {
    -webkit-flex-order: 9;
    -ms-flex-order: 9;
    flex-order: 9; }
  .small-order-10 {
    -webkit-flex-order: 10;
    -ms-flex-order: 10;
    flex-order: 10; }
  .small-order-11 {
    -webkit-flex-order: 11;
    -ms-flex-order: 11;
    flex-order: 11; }
  .small-order-12 {
    -webkit-flex-order: 12;
    -ms-flex-order: 12;
    flex-order: 12; } }
