@import "defaults";
@import "mixins";

@mixin paddings($padding: $gutter) {
	padding-left: $padding;
	padding-right: $padding;
}

@mixin layout($prefix: null) {
	@if $prefix {
		$prefix: $prefix + "-";
	}

	.#{$prefix}-hide {
		display: none !important;
	}

	.#{$prefix}column {
		@for $column from 1 through 12 {
			&-#{$column} {
				width: percentage($column / 12) !important;
			}
		}
	}

	.#{$prefix}flex {
		@for $size from 1 through 12 {
			&-#{$size} {
				flex-grow: $size !important;
			}
		}
	}

	.#{$prefix}order {
		@for $order from 1 through 12 {
			&-#{$order} {
				order: $order !important;
			}
		}
	}

	.#{$prefix}text-left {
		text-align: left;
	}

	.#{$prefix}text-right {
		text-align: right;
	}

	.#{$prefix}text-center {
		text-align: center;
	}

	.#{$prefix}text-justify {
		text-align: justify;
	}

	.#{$prefix}larger {
		font-size: 1.2em;
	}

	.#{$prefix}smaller {
		font-size: .9em;
	}

	.#{$prefix}flex {
		flex: 1;
	}

	.#{$prefix}dont-flex {
		flex: 0 0 auto;
	}

	.#{$prefix}items-start {
		align-items: flex-start;
	}

	.#{$prefix}items-end {
		align-items: flex-end;
	}

	.#{$prefix}items-center {
		align-items: center;
	}

	.#{$prefix}items-stretch {
		align-items: stretch;
	}

	.#{$prefix}items-baseline {
		align-items: baseline
	}

	.#{$prefix}content-start {
		justify-content: flex-start;
	}

	.#{$prefix}content-end {
		justify-content: flex-end;
	}

	.#{$prefix}content-center {
		justify-content: center;
	}

	.#{$prefix}content-space-between {
		justify-content: space-between;
	}

	.#{$prefix}content-space-around {
		justify-content: space-around;
	}
}

body {
	padding: 0;
	margin: 0;
	cursor: default;
	min-height: 100vh;
	font: normal #{$font_size}/#{$font_line_height} $font_family;
	background-color: white;
}

.icon {
	@include icon;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: $wrapper;
}

.panel {
	@include panel;
}

@mixin columns-gutter ($gutter_size: $gutter) {
	& {
		margin-left: -$gutter_size;
		margin-right: -$gutter_size;
	}

	.column {
		padding-left: $gutter_size;
		padding-right: $gutter_size;
	}
}

.columns {
	@include columns-gutter();

	display: flex;
	align-items: flex-start;

	.column {
		flex: 0 0 auto;
		box-sizing: border-box;
	}

	&.with-half-gutter {
		@include columns-gutter($gutter_half);
	}

	&.with-no-gutter {
		@include columns-gutter(0);
	}

	&:not(:last-child) {
		margin-bottom: $gutter;
	}
}

.toolbar {
	//	@include paddings;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&.with-gutter {
		@include paddings();
	}
}

@include layout();

hr {
	border: none;
	border-bottom: 1px solid $color_gray;
	margin: 1rem 0;
}

img {
	vertical-align: middle;
}

a {
	cursor: pointer;
	text-decoration: none;

	i {
		margin-right: $gutter_half * .25;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
dl,
p {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

input[type=text],
input[type=email],
input[type=date],
input[type=password],
select,
textarea {
	@include input;
}

input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-block;
	margin: 0 ($gutter * .25) 0 0;
	width: auto;
	position: relative;
	top: -1px;
}

select {
	border-radius: 0;
	-webkit-appearance: inherit;
	appearance: inherit;
}

table {
	background: white;
	margin-bottom: $gutter;
	border: solid 1px $color_gray;
	width: 100%;
	border-collapse: collapse;
	font-size: $font_size;
	margin-bottom: $gutter_double;

	th, td {
		padding: $gutter * .75;

		&:first-child {
			padding-left: $gutter;
		}

		&:last-child {
			padding-right: $gutter;
		}
	}

	th {
		text-align: left;
		background-color: lighten($color_gray, 5%);
	}

	tbody {
		tr {
			&:nth-of-type(even) {
				background-color: lighten($color_gray, 15%);
			}
		}

		td {
			line-height: $gutter;
		}

		.options {
			text-align: right;

			.icon {
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.button {
	@include button;

	&.small {
		padding: $gutter_half $gutter;
		min-height: 40px;
	}

	&.large {
		padding: $gutter $gutter_and_half;
		min-height: 48px;
	}

	&.blank {
		background-color: transparent;

		&.small {
			padding: ($gutter * .75) $gutter_double;
		}
	}

	&.icon {
		padding: 0;
		text-align: center;

		&.small {
			width: 40px;
			height: 40px;
			line-height: 42px;
		}

		i {
			margin: 0;
		}
	}

	.icon {
		margin: (-$gutter_half)  $gutter_quarter (-$gutter_half) 0;
	}

	& + .button {
		margin-left: $gutter_quarter;
	}
}

form {
	fieldset {
		padding: $gutter;
		margin: 0 0 $gutter_double;
	}

	.form-group {
		margin-bottom: $gutter;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			margin-right: $gutter_half;

			&:first-child {
				margin-bottom: $gutter_half;
				display: block;
				font-size: .9em;
				user-select: none;
			}
		}

		.description {
			color: #aaa;
			font-size: .9em;
			line-height: 130%;
			margin-top: $gutter_half / 2;
		}
	}

	.form-footer {
		margin-top: $gutter_and_half;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.popup {
	&-fog {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba(black, .75);
		z-index: 99999;
	}

	&-holder {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 999999;
		padding: 2rem;
		overflow: auto;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	min-width: 500px;
	padding: $gutter;
	background: white;
	margin: auto;
	pointer-events: all;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: -$gutter -$gutter 0;
		padding: $gutter;

		.title {
			font-size: 1.2em;
			text-transform: uppercase;
			margin: 0;
		}

		.close {
			display: flex;
			width: 40px;
			height: 40px;

			&::after {
				content: "\00d7";
				margin: auto;
			}
		}
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -$gutter -$gutter;
		padding: $gutter;
	}
}

.device-show,
.tablet-show,
.phone-show {
	display: none;
}

@media #{$media_queue_device} {
	@include layout("devices");
}

@media #{$media_queue_tablet} {
	@include layout("tablet");

	.centered {
		margin-left: $wrapper / 10;
		margin-right: $wrapper / 10;
	}
}

@media #{$media_queue_phone} {
	@include layout("phone");

	.centered {
		margin-left: $gutter;
		margin-right: $gutter;
	}
}
