$wrapper: 60rem;

$gutter: 1rem;
$double_gutter: $gutter * 2;
$half_gutter: $gutter / 2;

$font-fmaily: "Open Sans", sans-serif;
$font-size: .9rem;


$columns: (
	1: 8.333%,
	2: 16.666%,
	3: 25%,
	4: 33.333%,
	5: 41.666%,
	6: 50%,
	7: 58.333%,
	8: 66.666%,
	9: 75%,
	10: 83.333%,
	11: 91.666%,
	12: 100%,
);


// vendore prefixer

@mixin vendor-prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	#{$name}: #{$argument};
}

@mixin vendor-prefix-value($name, $argument) {
	#{$name}: -webkit-#{$argument};
	#{$name}: -ms-#{$argument};
	#{$name}: #{$argument};
}


// utils

@mixin disable-select {
	@include vendor-prefix(user-select, none);
}

@mixin border-box {
	@include vendor-prefix(box-sizing, border-box);
}

@mixin appearance-none {
	@include vendor-prefix(appearance, none)
}


// basics

body {
	margin: 0;
	padding: 0;
	font: normal #{$font-size} / 130% $font-fmaily;
	cursor: default;
	min-height: 100vh;
	background-color: white;
}

.wrapper {
	width: $wrapper;
	position: relative;
	display: block;
	margin: 0 auto;
	
	@include border-box;
 
	&.with-gutter {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}


// layout

@mixin display-flex {
	@include vendor-prefix-value(display, flex); 
}

@mixin display-inline-flex {
	@include vendor-prefix-value(display, inline-flex); 
}

@mixin layout-with-gutter($gutter) {
	.column {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

@mixin layout-columns {
	@include display-flex;

	.column {
		// @include vendor-prefix(flex, 1);

		@each $column, $size in $columns {
			&-#{$column} { 
				@include vendor-prefix(flex-basis, $size); 
			}
		}
	}

	&.with-gutter {
		@include layout-with-gutter($gutter);
	}

	&.with-double-gutter {
		@include layout-with-gutter($double_gutter);
	}

	&.with-half-gutter {
		@include layout-with-gutter($half_gutter);
	}

	&.inline {
		@include vendor-prefix-value(display, inline-flex); 
	}

	&.vertical {
		@include vendor-prefix(flex-flow, column);
	}
}

.layout {
	@include display-flex;
}

.layout-columns {
	@include layout-columns;
}

.wrapper > .layout {
	@include layout-with-gutter($gutter);
}

@mixin content-start {
	@include vendor-prefix(justify-content, flex-start);
}

.content-start {
	@include content-start;
}

@mixin content-end {
	@include vendor-prefix(justify-content, flex-end);
}

.content-end {
	@include content-end;
}

@mixin content-center {
	@include vendor-prefix(justify-content, center);
}

.content-center {
	@include content-center;
}

@mixin content-space-between {
	@include vendor-prefix(justify-content, space-between);
}

.content-space-between {
	@include content-space-between;
}

@mixin content-space-around {
	@include vendor-prefix(justify-content, space-around);
}

.content-space-around {
	@include content-space-around;
}

@mixin items-start {
	@include vendor-prefix(align-items, flex-start);
}

.items-start {
	@include items-start;
}

@mixin items-end {
	@include vendor-prefix(align-items, flex-end);
}

.items-end {
	@include items-end;
}

@mixin items-center {
	@include vendor-prefix(align-items, center);
}

.items-center {
	@include items-center;
}

@mixin items-stretch {
	@include vendor-prefix(align-items, stretch);
}

.items-stretch {
	@include items-stretch;
}

.order {
	@each $column, $size in $columns {
		&-#{$column} { 
			@include vendor-prefix(flex-order, $column); 
		}
	}
}

@mixin flex {
	@include vendor-prefix(flex, 1);
}

.flex {
	@include flex;
}

@mixin no-flex {
	@include vendor-prefix(flex, 0 0 auto);
}

.no-flex {
	@include no-flex;
}

@mixin center-content {
	@include display-flex; 
	@include content-center;
	@include items-center;
}

.center-content {
	@include center-content;
}

@mixin layout-toolbar {
	@include display-flex;	
	@include items-center;
	@include content-space-between;
}

.layout-toolbar {
	@include layout-toolbar;
}




// buttons 

button, 
.button {
	@include display-inline-flex;
	@include items-center;
	
	padding: $gutter $double_gutter;
	background-color: #ccc;
	font-size: $font-size;
	line-height: 130%;
	border: none;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;

	@include appearance-none;
	
	&.small {
		padding: ($gutter * .75) $double_gutter;
	}

	&.tiny {
		padding: $half_gutter $gutter;
	}

	.icon,
	.icon-left,
	.icon-right {
		font-size: 1.3em;
		vertical-align: middle;
		display: inline-block;
	}
	
	.icon-left,
	.icon-right {
		@include vendor-prefix(transform, translate(0, -7%));
	}

	.icon-left {
		margin-right: .25rem;
	}

	.icon-right {
		margin-left: .25rem;
	}
}

hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 1rem 0;
}

img {
	vertical-align: middle;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h5, 
ul, 
ol, 
p {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin input {
	font: normal 1rem/130% $font-fmaily;
	padding: .5rem;
	border: 1px #ccc solid;
	display: block;
	width: 100%;
	margin: 0;

	@include border-box;
}

input[type=text],
input[type=email],
input[type=date],
input[type=password],
select,
textarea {
	@include input;
}

input[type=checkbox],
input[type=radio] {
	padding: 0;
	display: inline-block;
	margin: 0 .3rem 0 0;
	width: auto;
}

select {
	@include appearance-none;
}

table {
	background: white;
	margin-bottom: 1.25rem;
	border: solid 1px #dddddd;
	width: 100%;
  	border-collapse: collapse;
  	font-size: $font-size;
	
	th, td {
		padding: .5rem;

		&:first-child {
			padding-left: .75rem;
		}

		&:last-child {
			padding-right: .75rem;
		}
	}

	th {
		text-align: left;
	}

	thead {
		background: whitesmoke;
	}

	tbody {
		tr:nth-of-type(even) {
			background-color: #f9f9f9;
		}

		td {
			line-height: 1rem;
		}
	}
}

form {
	fieldset {
		padding: 1rem;
		margin: 0 0 2rem;
	}

	.form-group {
		margin-bottom: 1rem;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			margin-right: .5rem;

			&:first-child {
				margin-bottom: $half_gutter;
				display: block;
				font-size: .9em;

				@include disable-select;
			}
		}
	}
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.larger {
	font-size: 1.2em;
	line-height: 130%;
}

.smaller {
	font-size: .85em;
	line-height: 130%;
}

.blank-button {
	display: inline-block;
	padding: $gutter $double_gutter;

	&.small {
		padding: ($gutter * .75) $double_gutter;
	}

	&.tiny {
		padding: $half_gutter $gutter;
	}
}

.popup {
	&-fog {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba(black, .75);
		z-index: 99999;
	}

	&-holder {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 999999;
		padding: 2rem;
		overflow: auto;
		pointer-events: none;

		@include center-content;
	}

	min-width: 500px;
	padding: 1.5rem;
	background: white;
	margin: auto;
	pointer-events: all;

	header {
		@include layout-toolbar;

		margin: -1.5rem -1.5rem 0;
		padding: 1.5rem;

		.title {
			font-size: 1.2em;
			text-transform: uppercase;
			margin: 0;
		}

		.close {
			@include center-content;

			width: 40px;
			height: 40px;
		}
	}

	footer {
		@include layout-toolbar;

		margin: 0 -1.5rem -1.5rem;
		padding: 1.5rem;

		.buttons {
			button, .button {
				margin-left: .5rem;
			}
		}
	}
}



/* media query
********************************************************************************************************/

@media screen and (max-width: $wrapper) {
	.wrapper {
		width: auto;
	}

	.small {
		&-flex {
			@each $column, $size in $columns {
				&-#{$column} { 
					@include vendor-prefix(flex-basis, $size); 
				}
			}
		}

		&-order {
			@each $column, $size in $columns {
				&-#{$column} { 
					@include vendor-prefix(flex-order, $column);
				}
			}
		}
	}
}